<tr class="mod-header">
    <h3>$i18n.getText('metrics--page--item.label') for $project.name ($project.getKey())</h3>
    <!--img style="-webkit-user-select: none" src="https://chart.googleapis.com/chart?cht=p&chs=380x200&chd=t:41,55,4&chl=41%|55%|4%&chdl=Cash|Credit_Card|Check&chco=26AD21|1D82C4|F0A016"-->

    <html>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                if (!$allisok) return; //no need to execute
                /////////// project predictions
                const LINE_SEPARATOR = ",";
                const PAIR_SEPARATOR = "|";
                const DATE_FORMAT = "MM/dd/yyyy";

                var data = new google.visualization.DataTable();
                data.addColumn('date', 'Date');
                data.addColumn('number', 'Ideal');
                data.addColumn('number', 'Predicted');

                var chartRows = '$chartrows';
                //split and parse
                if (typeof chartRows === 'undefined' || chartRows === null)
                {
                    alert("No rows for the chart");
                    return;
                }

                var lines = chartRows.split(LINE_SEPARATOR);
                if (lines.length <= 0)
                {
                    alert("Wrong rows format " + chartRows);
                    return;
                }
                lines.forEach(function (line, index) {
                    if (line.length > 0)//non empty line
                    {
                        //split by pair separator
                        var items = line.split(PAIR_SEPARATOR);
                        if (items.length < 3)
                        {
                            alert("Wrong line format " + line);
                        }

                        var date = new Date(items[0]);

                        var ideal = parseFloat(items[1]);
                        if (isNaN(ideal)) ideal = null;

                        var predicted = parseFloat(items[2]);
                        if (isNaN(predicted)) predicted = null;

                        data.addRow([date, ideal, predicted]);
                        //data.addRow([new Date(2010, 1, 1),  37.8, 80.8]);
                    }
                });
                var options = {
                    title: 'Project Monitor. Predicted completion ' + '$predictedendofproject',
                    lineWidth: 3,
                    series: {
                        0: {lineDashStyle: [0, 0]},
                        1: {lineDashStyle: [2, 2], color: '$predictioncolor'}
                    },
                    curveType: 'function',
                    legend: { position: 'bottom' }
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                chart.draw(data, options);

                ////////////////////// issues pie
                var dataIssueDistribution = new google.visualization.DataTable();

                dataIssueDistribution.addColumn('string', 'Category');
                dataIssueDistribution.addColumn('number', 'Value');


                var notEstimatedNumber = parseFloat('$notestimatedstories');
                if (isNaN(notEstimatedNumber)) notEstimatedNumber = 0;

                var largeStoriesNumber =  parseFloat('$largestories');
                if (isNaN(largeStoriesNumber)) largeStoriesNumber = 0;

                var veryLargeStoriesNumber =  parseFloat('$verylargestories');
                if (isNaN(veryLargeStoriesNumber)) veryLargeStoriesNumber = 0;

                var estimatedStoriesNumber =  parseFloat('$estimatedstories');
                if (isNaN(estimatedStoriesNumber)) estimatedStoriesNumber = 0;

                dataIssueDistribution.addRow(['Not estimated', notEstimatedNumber]);
                dataIssueDistribution.addRow(['Large (13 points)', largeStoriesNumber]);
                dataIssueDistribution.addRow(['Very Large (21 points)', veryLargeStoriesNumber]);
                dataIssueDistribution.addRow(['Normal', estimatedStoriesNumber]);

                var totalStories = notEstimatedNumber + largeStoriesNumber + veryLargeStoriesNumber + estimatedStoriesNumber;

                var optionsIssueDistribution = {
                    title: 'Project Issues Analysis. Total ' + totalStories + ' issues'
                };

                var chartIssueDistribution = new google.visualization.PieChart(document.getElementById('piechart'));

                chartIssueDistribution.draw(dataIssueDistribution, optionsIssueDistribution);


            }
            function OnRecalculateClick()
            {
                var velocity = document.getElementById("velocity").value;
                var roadmapfeature = document.getElementById("roadmapfeature").value;
                var encodedFeatureName = encodeURIComponent(roadmapfeature);

                jQuery.ajax({
                    type: "GET",
                    async: false,
                    url: '$baseurl' + "/plugins/servlet/activeobjectsaccess?projectKey=" + '$project.getKey()'
                        + "&teamVelocity=" + velocity + "&roadmapfeature=" + encodedFeatureName + "&user=" + '$currentuser',
                    success: function(data) {
                        //alert(data);
                        //location.reload();
                        //JIRA.trigger(JIRA.Events.REFRESH_ISSUE_PAGE, [JIRA.Issue.getIssueId()]);
                    },
                    error: function() {
                        alert("error");
                        //console.log('error', arguments);
                    }
                });
            }
        </script>
    </head>
        <body>
            #if (!$allisok)
                <script>
                    var dialog = new AJS.Dialog({
                        id: "message-status-dialog",
                        closeOnOutsideClick: false
                    });

                    dialog.addHeader("Playgile Project Monitor");
                    dialog.addPanel("Panel 1", '<h1 style="color:red">$messagetodisplay</h1>', "panel-body");

                    dialog.addButton("OK", function (dialog) {
                        dialog.hide();
                    }, "#");
                    dialog.show();
                </script>
                <h1 style="color:red">$messagetodisplay</h1>
            #end

            #if ($roadmapfeatureslist.size()> 0)
                <form id="admin" class="aui">
                    <tr>
                    <tr class="field-group">
                        <label for="roadmapfeaturelabel">Roadmap Feature</label>
                        <select id="roadmapfeature" name="roadmapfeature">
                            #foreach( $item in $roadmapfeatureslist )
                                #if ($item == $selectedroadmapfeature)
                                    <option value="$item" selected="selected">$item</option>
                                #else
                                    <option value="$item">$item</option>
                                #end
                            #end
                        </select>
                    </tr>
                    <tr class="field-group">
                        <label for="velocity">Team's velocity</label>
                        <input type="number" id="velocity" value=$teamvelocity name="velocity" class="text" min="0" max="1000" style="width: 10em;">
                    </tr>
                    <tr class="field-group">
                        <input type="submit" value="Recalculate" class="button" onClick="OnRecalculateClick()">
                    </tr>
                    </tr>
                </form>
            #end
            #if ($allisok)
                <table>
                    <tr>
                        <td><div id="curve_chart" style="width: 600px; height: 500px"></div></td>
                        <td><div id="piechart" style="width: 600px; height: 500px;"></div></td>
                        <!--td>Initial end of project<br>Predicted end of project</td>
                        <td>$idealendofproject<br>$predictedendofproject</td-->
                    </tr>
                </table>

            #end
        </body>
    </html>
    <table>
        <div style="height:120px;width:500px;border:1px solid #ccc;font:8px/8px Georgia, Garamond, Serif;overflow:auto;">
            $statustext
        </div>
    </table>
</div>
